.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 99dvh;
  overflow: hidden;
  background: #0b0b0b;
  color: white;

  display: flex;
  align-items: center;
  padding: 95px 80px 45px;
}

.hero__bg {
  position: absolute;
  inset: 0;
  background-image: url("../images/MARCOSUSARA (2).png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
}

.hero__bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.18) 0%,
      rgba(0, 0, 0, 0.28) 45%,
      rgba(0, 0, 0, 0.72) 100%
    );
}

.hero__smoke {
  position: absolute;
  inset: -20%;
  background:
    radial-gradient(circle at 30% 40%, rgba(255, 255, 255, 0.12), transparent 25%),
    radial-gradient(circle at 70% 50%, rgba(255, 255, 255, 0.08), transparent 30%);
  filter: blur(35px);
  opacity: 0.35;
  animation: smokeMove 9s ease-in-out infinite alternate;
  z-index: 1;
  pointer-events: none;
}

.hero__content {
  position: relative;
  z-index: 5;
  width: 560px;
  max-width: 100%;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  transform: translateY(20px);
}

.hero__eyebrow {
  color: #c99f61;
  font-size: 11px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0 0 7px 0;
}

.hero__logo {
 width: clamp(320px, 22vw, 420px);
  height: auto;
  display: block;
  margin: 0 0 10px;
  filter: drop-shadow(0 12px 30px rgba(0, 0, 0, 0.8));
}

.hero__title {
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(42px, 4.2vw, 62px);
  line-height: 0.95;
  font-weight: 600;
  color: #ffffff;
  white-space: pre-line;
  margin: 0 0 0px 0;
}

.hero__text {
  font-size: clamp(15px, 1.15vw, 18px);
  line-height: 1.45;
  color: #c99f61;
  max-width: 470px;
  white-space: pre-line;
  margin: 0;
}

@keyframes smokeMove {
  from {
    transform: translateX(-30px) translateY(20px) scale(1);
  }

  to {
    transform: translateX(35px) translateY(-20px) scale(1.15);
  }
}

@media (max-width: 991px) {
  .hero {
    padding: 100px 60px 50px;
  }

  .hero__logo {
    width: 300px;
    max-height: 115px;
  }

  .hero__title {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .hero__bg {
    background-image: image-set(
      url("../images/MARCOSUSARA.png") 1x
    );
  }
  .hero {
    height: 100vh;
    height: 100dvh;
    padding: 90px 24px 45px;
    align-items: center;
  }

  .hero__content {
    transform: none;
  }

  .hero__logo {
    width: 220px;
    max-height: 100px;
  }

  .hero__title {
    font-size: 40px;
    line-height: 1.02;
  }

  .hero__text {
    font-size: 15px;
    max-width: 330px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 85px 20px 40px;
  }

  .hero__logo {
    width: 185px;
    max-height: 90px;
  }

  .hero__title {
    font-size: 34px;
  }

  .hero__text {
    font-size: 14px;
  }
}